.center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    height: calc(100vh - 80px);
}

.center-wrapper h1{
    color: #ffffff; 
    font-size: 24px;
}

.help-container {
    background-color:rgba(240, 240, 240, 0.9); /* Color de fondo con transparencia */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 80 px;
    width: 80%;
    max-width: 1200px;
    height: auto; 
    max-height: 700px; 
    overflow: auto; 
}

.help-container h2, h3, h4 {
    color: #000000; /* Color oscuro para los títulos */
}