.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    height: calc(100vh - 80px);
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ranking-container video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;/* Garantiza cobertura completa sin sobrepasar la ventana */
    height: 100vh;/* Idem */
    object-fit: cover;/* Mantiene las proporciones sin recortar */
}

.ranking {
    color: #ffffff;
    font-size: 24px;
}

table {
    border-collapse: collapse; /* Combina los bordes de las celdas de la tabla */
    width: 45%;
    border-radius: 10px; /* Bordes redondeados en la parte superior */
    background-color: rgba(240, 240, 240, 0.6);
    overflow-y: auto;/* Muestra la barra de desplazamiento vertical cuando sea necesario */
}

th, td {
    text-align: center; /* Centra el texto dentro de los <th> y <td> */
    padding: 8px; /* Añade espacio interno a las celdas */
}

/* Aplica el borde inferior a todas las filas, excepto la última */
tr:not(:last-child) td,
tr:not(:last-child) th {
    border-bottom: 1px solid #ddd; /* Agrega una línea inferior a las filas */
}

/* Redondear solo el primer encabezado de columna por la izquierda */
th:first-child {
    border-top-left-radius: 10px; /* Bordes redondeados en la esquina superior izquierda */
}

/* Redondear solo el último encabezado de columna por la derecha */
th:last-child {
    border-top-right-radius: 10px; /* Bordes redondeados en la esquina superior derecha */
}

/* Color de fondo para todos los encabezados de columna */
th {
    background-color: #f2f2f2; /* Color de fondo de los encabezados de columna */
}